# Xcode
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
*.hmap
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
*/build/*
.DS_Store
.idea/
DerivedData
profile
xcuserdata

#*.framework
*.xccheckout
*~
build/
DerivedData/

/.bundle/ruby
*.xcscmblueprint

Pods/
